body{
    width: inherit;
    height: inherit;
    
    #status{
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 30px;
        color: darkorange;
    }
    
    #graph{
        position: absolute;
        left: calc((100% - 200px)/2);
        top: 30px;
        border: 1px solid #000;
    }
}

